{% extends 'base.htm.j2' %}
{% block content %}

<div class="container">
<h1>Click <a href="{{ download_location }}">HERE</a> to download your files</h1>
<h2>Items Downloaded: {{ item_count }}</h2>
<ul class="no-bullet">
{% for item in data %}
	<li>{{ item }}</li>
{% endfor %}
</ul>
<p><a href="{{ url_for('index') }}"><button>Home</button></a></p>
</div>

{% endblock content %}