{% extends 'base.htm.j2' %}
{% block content %}

<div class="container">
    <h1>Selected Course: {{ course_obj.get_name() }}</h1>
    <form
	    class="form-group"
	    name="item_selection"
	  	action="{{ url_for('selected_items') }}"
	  	method="POST">
		<!-- Select All -->
		<div class="checkbox">
			<label for="select-all">
				<input class="checkbox" type="checkbox" name="select-all" id="select-all">Select All
			</label>
		</div>
	    <ol>
		    {% for module in module_list %}
		  	<li>{{ module['name'] }}
		  		<ul class="no-bullet">
			  	{% for item in module.get_module_items() %}
			  		{% if item['type'] == 'Page' or item['type'] == 'File' %}
			  		<li>
			  			<div class="checkbox">
				  			<label for="{{ item['title'] }}">
					  			<input
					  				class="checkbox"
					  				type="checkbox"
					  				name="module_items"
					  				value="{{ item['url'] }}"
					  				id="{{ item['title'] }}">
					  			{{ item['title'] }}
				  			</label>
			  			</div>
			  		</li>
			  		{% endif %}
			  	{% endfor %}
		  		</ul>
		  	</li>
		    {% endfor %}
	    </ol>
	    <button class="btn btn-primary" type="submit">Export Content</button>
    </form>
</div>

<script language="JavaScript">
	jQuery('#select-all').click(function(event)
	{
		if(this.checked)
		{
			jQuery(':checkbox').each(function()
			{
				this.checked = true;
			});
		}
		else
		{
			jQuery(':checkbox').each(function()
			{
				this.checked = false;
			});
		}
	});
</script>

{% endblock content %}